<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald:wght@300&display=swap" rel="stylesheet">
		<title>Bobs Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
