<div class="wrapper">
<h1>&#127828; BOB'S BURGERS &#127828;</h1>

<h2>Get 'em while they're hot</h2>

<ul>
  {{#each burger}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Woah &#128563;  You ate all this!</h2>

<ul>
  {{#each burger}}
    {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>
<br>
<h3>Add a Burger</h3>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">Put er on the grill</button>
</form>
</div>